@media only screen and (max-device-width: 1400px){
    .menu_list{
        display: flex;
        flex-direction: row;
        margin-top: 0.5%;
    }
   header .menu_list ul{
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap:3%;
        position: relative;
    } 


}

@media only screen and (max-device-width: 1050px) {

    .principal{
        flex-direction: column-reverse;
        align-items: center;
    }

    .sobre-mim{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .sobre-mim .sobre-mim-texto {
        max-width: 60%;
        margin-right: 3%;
    }

    .carousel-card{
        flex-direction: column-reverse;
        align-items: center;
    }

    .carousel-card .card{
        margin-bottom: 2%;
    }

    .subtitulos{
        text-align: center;
    }

    .formulario p{
        text-align: center;
    }

    .skills-badges{
        align-items: center;
        justify-content: center;
    }

    .principal h1{
        font-size: 3rem;
    }

    .badges{
        height: 3rem;
    }

    .l-badge .pequenas-badges{
        height: 2rem;
    }
    .badges:hover{
        height: 3.5rem;
    }

    .l-badge .pequenas-badges{
        height: 3rem;
    }

    .resp_badg{
        height: 3rem;
    }
}

@media only screen and (max-device-width: 950px){
    .projetos_page{
        flex-direction: column-reverse;
        align-items: center;
    }

    .projeto_descricao{
        width: 60%;
        margin-bottom: 2%;
    }

    .projeto_img{
        width: 70%;
    }

    .menu_list ul li a{
        font-size: 0.88rem;
    }

    header{
        gap: 20%;
    }

}

@media only screen and (max-device-width: 650px) {
    .principal{
        width: 100%;
    }

    .titulo{
        font-size: 0.4rem;
    }

    .formulario input{
        width: 80%;
    }

    .formulario textarea{
        width: 80%;
    }

    .f_img img{
        height: 5rem;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    .f_principal{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-device-width: 400px){
    .principal-texto h1{
        font-size: 2rem;
    }

    .principal-texto h2{
        font-size: 2rem;
    }
    .subtitulos{
        font-size: 1.5rem;
    }

    .menu_list li a{
        font-size: 1rem;
    }

    .menu_list{
        gap: 0;
    }

    .f_img img{
        height: 3rem;
    }
}
